.chat-list {
  .left-msg .chat {
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 25px;
  }
  .right-msg .chat {
    border-top-right-radius: 5px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
