/*-- ============================================================== 
 Ipad & above all(768px) 
 ============================================================== */
.light,
.dark {
  min-height: 100vh;
}
.light {
  background-color: $body-bg;
}
.page-wrapper {
  padding-top: 60px;
  overflow-x: hidden;
  .min-height {
    min-height: calc(100vh - 130px);
  }
}
@include media-breakpoint-up(lg) {
  .full-sidebar {
    .page-wrapper {
      margin-left: $sidebar-width-full;
    }
  }
  .mini-sidebar {
    .page-wrapper {
      margin-left: $sidebar-width-mini;
    }
  }
  [dir="rtl"] {
    .full-sidebar {
      .page-wrapper {
        margin-right: $sidebar-width-full;
        margin-left: 0px;
      }
    }
    .mini-sidebar {
      .page-wrapper {
        margin-right: $sidebar-width-mini;
        margin-left: 0px;
      }
    }
  }
}
a,
a:hover {
  text-decoration: none;
}
.fs-1 {
  font-size: 2.5rem !important;
}
.fs-2 {
  font-size: 2rem !important;
}
.fs-3 {
  font-size: 1.5rem !important;
}
.p-35 {
  padding: 1.25rem;
}
.dropdown-toggle::after {
  position: relative;
  top: 2px;
}
.border-top,
.border-bottom,
.border-left,
.border-right,
.form-control {
  border-color: $border-color;
}

.form-control,
.form-control:focus {
  background-color: transparent;
}
.cursor-pointer {
  cursor: pointer;
}
.left-part {
  width: 260px;
  transition: 0.1s ease-in;
}
.dropdown-menu {
  box-shadow: $shadow;
}
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: $gray-100;
}

.card-title {
  margin-bottom: 14px;
}
@include media-breakpoint-down(md) {
  .left-part {
    position: absolute;
    height: 100%;
    background-color: inherit;
    z-index: 2;
    box-shadow: $shadow;
    overflow: auto;
  }
  .third-part {
    position: absolute;
    height: 100%;
    background-color: inherit;
    z-index: 2;
    width: 100%;
    overflow: auto;
  }
  [dir="ltr"] .third-part {
    right: -100%;
    &.show-third-part {
      right: 0;
    }
  }
  [dir="rtl"] .third-part {
    left: -100%;
    &.show-third-part {
      left: 0;
    }
  }
  [dir="ltr"] .left-part {
    margin-left: -300px;
    &.show-left-part {
      margin-left: 0px;
    }
  }
  [dir="rtl"] .left-part {
    margin-right: -300px;
    &.show-left-part {
      margin-right: 0px;
    }
  }
}
.right-part {
  width: 100%;
}
